
<body>
<div class="center">
    <h1>Post Your Job</h1>
    <form class="form-horizontal" [formGroup]="postjobForm">
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobRole" class="form-control">
        <span>Role</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobDescription" class="form-control">
        <span>Description</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobType" class="form-control">
        <span>Type</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobDomain" class="form-control">
        <span>Domain</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobCompensation" class="form-control">
        <span>Compensation</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobLocation" class="form-control">
        <span>Location</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="jobOpenFor" class="form-control">
        <span>Open For</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required" formControlName="company" class="form-control">
        <span>Company's Name</span>
      </div>
     
      <div class="inputbox">
        <input type="button" (click)="postajob()" value="submit">
      </div>
    </form>
    <router-outlet></router-outlet>
  </div>
</body>