
<!--<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6" >
        
        <div class="alert alert-success" *ngIf="appliedmessage; else failedmessage">{{appliedmessage}}</div>
        <ng-template #failedmessage>
            <div class="alert alert-danger"  *ngIf="alreadyapplied">{{alreadyapplied}}</div>
        </ng-template>
    </div>
    
</div>-->

  
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">

   
            <div class="container mt-5">
                <table class="table">
            <thead >
                <tr>
                    <th *ngFor="let key of headers">{{key}}</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let job of jobs" >
                    
                    <td><span>{{job.jobRole}}</span></td>
                  <td><span>{{job.jobDescription}}</span></td>
                  
                  <td><span>{{job.jobType}}</span></td>
                <td><span>{{job.jobDomain}}</span></td>
                    <td><span>{{job.jobCompensation}}</span></td>
                    <td><span>{{job.jobOpenFor}}</span></td>
                    <td><span>{{job.jobLocation}}</span></td>
                    <td><span>{{job.company}}</span></td>
                    <td><button class="btn btn-success" style="width:100%;height:auto;border-radius: 45px;"
                        (click)="apply(job)">Connect</button>
                   
                </td>
                </tr>
               
                </tbody></table>
            <router-outlet></router-outlet></div>
                
               
                    <!--<td>
                        <span *ngFor="let skill of job.skills">
                            {{skill}},
                        </span>
                    </td>-->
              
                  <!--  <td>{{job.jobDetails.jobType}}</td>
                    <td class="text-center">{{job.jobDetails.expRequired}}</td>
                    <td>{{job.companyName}}</td>
                    <td>{{job.jobDetails.jobRole}}</td>
                    <td>
                        <span *ngFor="let skill of job.jobDetails.skills">
                            {{skill}},
                        </span>
                    </td>
                    <td>{{job.jobDetails.jobType}}</td>
                    <td class="text-center">{{job.jobDetails.expRequired}}</td>
                    <td><button class="btn btn-success" style="width:100%;height:auto;border-radius: 45px;"
                            (click)="apply(job)">Apply</button>
                       
                    </td>
                 <td><button class="btn btn-success" style="width:100%;height:auto;border-radius: 45px;"
                        (click)="apply(job)">Apply</button>-->
                
              