<div class="container-fluid">
    <nav class=" mt-1 navbar navbar-expand-lg bg-info navbar-dark danger-color rounded">
      <!-- Brand -->
      <img class="rounded-circle" src="/assets/job-logo.png" alt="somthing" id="logobrand"><a class="navbar-brand "
        id="logo"><B>JOBS</B></a>
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item">
          <a routerLink="/dashboard/jobs" class="nav-link p-3"> <i class="fa fa-briefcase"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a routerLink="/seeker/eprofile" class="nav-link p-3"> <i class="fa fa-briefcase"></i>Profile</a>
          </li>
        <!-- <li class="nav-item">
            <a routerLink="/login/emp_login" class="nav-link p-3" > <i class="fa fa-lock"></i> LOGIN</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register/emp_register" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true"></i>REGISTER</a>
          </li> -->
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-3"  id="navbardrop" data-toggle="dropdown" style="cursor: pointer;">
              <i class="fa fa-user"></i>Hi, {{username}}
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-light">
              <a class="dropdown-item p-2" (click)="gotoprofilepage()" style="cursor: pointer;">Profile</a>
              <a class="dropdown-item p-2" (click)="logoutemployee()" style="cursor: pointer;">LOGOUT</a>
            </div>
          </li> -->
      </ul>
    </nav>
</div>
<div class="container-fluid">
  <div class="col-sm-12">
    <h1>Profile Details</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form  class="form-horizontal" [formGroup]="ProfileForm">
    
        <div class="col-sm-12 form-group">
          <label for="collegeName"><b>College Name:</b></label><br>
          <input type="text" name="collegeName" formControlName="collegeName" id="collegeName" class="form-control" value={{profileinfo.collegeName}}
            >
        </div>
        <div class="col-sm-12 form-group">
          <label for="collegeEmail"><b>E-Mail:</b></label><br>
          <input type="text" name="collegeEmail" formControlName="collegeEmail" id="collegeEmail" class="form-control" value={{profileinfo.collegeEmail}} >
        </div>
        <div class="col-sm-12 form-group">
          <label for="collegeNirfRanking"><b>Nirf Rank</b></label><br>
          <input type="collegeNirfRanking" name="collegeNirfRanking" id="collegeNirfRanking" formControlName="collegeNirfRanking" class="form-control" value={{profileinfo.collegeNirfRanking}} >
        </div>
        <div class="col-sm-12 form-group">
          <label for="collegeWebsite"><b>Website:</b></label><br>
          <input type="text" name="collegeWebsite" id="collegeWebsite" formControlName="collegeWebsite" class="form-control" value={{profileinfo.collegeWebsite}} >
        </div>
        <!--<div class="col-sm-12 form-group">
          <label for="password"><b>Update Password:</b></label><br>
          <input type="password" name="password" id="password" formControlName="password"  class="form-control" 
            >
        </div>-->
        <div class="col-sm-12 form-group">
          <label for="collegeAicteAffiliation"><b>Aicte Affiliation</b></label><br>
          <input type="text" name="collegeAicteAffiliation" id="collegeAicteAffiliation" formControlName="collegeAicteAffiliation" class="form-control" value={{profileinfo.collegeAicteAffiliation}}
            >
        </div>
        <div class="col-sm-12 form-group">
          <label for="collegeLocation"><b>Location</b></label><br>
          <input type="text" name="collegeLocation" formControlName="collegeLocation" id="collegeLocation" class="form-control" value={{profileinfo.collegeLocation}}
            >
        </div>
        <div class="col-sm-12">
          <button class="btn btn-success" (click)="updateprofile()">Save Changes</button>
        </div>   
</form>
    </div>
  </div>

  </div>
